

<form action="/stylists/<%= @stylist.id() %>" method="post">

<input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <div class='form-group'>
    <label for='firstname'>Client First Name</label>
    <input id='firstname' name='firstname' type='text' class='form-control'>

    <label for='lastname'>Client Last Name</label>
    <input id='lastname' name='lastname' type='text' class='form-control'>

  <button type="submit" class="btn btn-warning">Add New Client</button>
  </div>
</form>
