<h2>Our list of experienced Stylists</h2>
<ul>
  <% @stylists.each() do |stylist| %>
  <li><a href='/stylists/<%= stylist.id() %>'><%= stylist.firstname() %> <%= stylist.lastname() %></a></li>
  <% end %>
</ul>

<br><br>

<p><i>Add a new stylist here:</i></p>

<form action="/stylists" method="post">
  <div class="form-group">
    <label for="firstname">First name:</label>
    <input type="text" name="firstname" >
    <br>
    <label for="lastname">Last name:</label>
    <input type="text" name="lastname" >
  </div>
    <button name="button" type="submit">Add Stylist</button>
</form>
