<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <div class="form-group">
    <label for="firstname">Edit First Name:</label>
    <input class="form-control" type="text" name="firstname" value="<%= @stylist.firstname %>">
    <br>
    <label for="lastname">Edit Last Name:</label>
    <input class="form-control" type="text" name="lastname" value="<%= @stylist.lastname %>">
  </div>

    <button class='btn-default' type="submit">Save</button>
</form>
